.board {
  position: relative;
  display: grid;

  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);

  border: 30px solid white;

  /* 3d */
  transform: perspective(900px) rotateX(35deg) scale(0.7);
  box-shadow: 0px 20px 100px #555;
  transition: 0.5s ease all;
}
.board:hover {
  transform: rotate(0deg) scale(1) translateY(10px);
}
.board__rows {
  position: absolute;
  display: flex;
  flex-direction: column;

  background-color: white;
  height: 100%;
  width: 30px;
}
.board__rows--white {
  left: -28px;
}
.board__rows--black {
  right: -28px;
}
.board__numbers {
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__columns {
  position: absolute;
  display: flex;

  background-color: white;
  height: 30px;
  width: 100%;
}
.board__columns--white {
  bottom: -28px;
}
.board__columns--black {
  top: -28px;
}
.board__letters {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotate {
  transform: rotate(180deg);
}
.reverse-column {
  flex-direction: column-reverse;
}
.reverse-row {
  flex-direction: row-reverse;
}
